.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


p {
  width: 80%;
  text-align: left;
}

body {
  background-color: #c0dfd9;
}
