.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


p {
  width: 80%;
  text-align: left;
}

body {
  background-color: #c0dfd9;
}

.likert ul
  {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .likert li
  {
      float: left;
      text-align: left;
      list-style-type: none;
  }
